spring:
  application:
    name: "configserver"
  profiles:
    active: git
  #    active: native
  cloud:
    config:
      server:
#        native:
#        search-locations: "classpath:/config"
#          search-locations: "file:/D:/microservices/config"
        git:
          uri: "https://github.com/SanWaiLwin/swl-config.git"
          default-label: main
          time: 5
          clone-on-start: true
          force-pull: true
server:
  port: 8071